/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Alkatra", cursive;
  font-family: "Cabin", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "EB Garamond", serif;
  font-family: "Fasthand", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
} */

header {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
  /* background-color: #2d9cdb; */
}
header > .text-h1 {
  color: #333333;
  font-weight: 800;
  font-size: 36px;
  font-family: "Heebo";
}
nav > ul {
  display: flex;
  gap: 3rem;
}
nav > ul > li > a {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  font-family: 'Poppins';
}
.menu-btn {
  color: #000000;
  display: none;
  font-size: 30px;
}

@media (max-width: 768px) {
  nav > ul {
    display: none;
  }

  nav > .menu-btn {
    display: block;
  }
}
