#second {
    width: 100%;
    padding: 100px;
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title,
h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    margin-left: 150px;
    text-align: left;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px 34px;
    width: 341px;
    height: 422px;
    background: #FFFFFF;
    border-radius: 24px;
    transition: .5s;

}

.card:hover {
    transform: scale(1.09);
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);

}

.card:hover>button {
    background-color: #2D9CDB;
    color: #FFFFFF;

}

.icon {

    width: 67px;
    height: 67px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #2D9CDB;
}

.green {
    background-color: #27AE60;
}

.red {
    background-color: #EB5757;
}

.material-symbols-outlined {
    color: #FFFFFF;
    font-size: 27px;
}

.card h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.card button {
    width: 116px;
    height: 42px;
    background: #E0E0E0;
    border-radius: 12px;
    cursor: pointer;
}